<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <title>Jenn's First Rails Project</title>
</head>

<body>
  <div class="">
    <div>
      <h1>Jenn's First Rails Project</h1>
    </div>
    <p>Hello, <%= @name %> my name is Jennifer. I work at a startup called Wefunder. We do equity crowdfunding and are based in "Boston" haha. This is my first Rails Project.</p>
  </div>
  <h2>Financial Statements Date Calculator</h2>
    <p>This is my financial statements dates calculator. We can use this to figure out what dates a company needs financial statements for and when they will need new financial statements. </p>
    <p>Please complete the following form:</p>



<%= form_tag @calctool do %>
  <p>
    <%= label(:fiscalyear, "Fiscal Year End") %><br>
    <%= text_field_tag :fiscalyear,'MM/DD', onfocus: "if (this.value=='MM/DD') this.value='';", onblur: "if (this.value=='') this.value='MM/DD';" %>
  </p>
 
  <p>
    <%= label(:text, "Company Name") %><br>
    <%= text_field_tag :text %>
  </p>
 
  <p>
    <%= submit_tag "Submit Information", class: "form_submit" %>
  </p>
<% end %>

<div class="calculation">
</div>

<script>

$(‘.form_submit’).on(‘click’, ‘button’, function () {
  $.ajax(‘/pages/confirmation.html.erb’, {
    success: function(response) {
     $(‘.calculation’).html(response).toggle();
    }
  });
});

</script>

<h2>ScaleAPI Testing</h2>
  <p>This section is just to appease Nick. I am using this to run tests of the ScaleAPI.</p>
  <p>

<div class="scaleapi_test">
  Click here to create a test. 
</div>

<div class="scaleapi_live">
  Click here to create a live request. 
</div>

</body>
</html>
