<!DOCTYPE html>
<html>
<head>
  <title>Jenn's First Rails Project</title>
</head>

<body>
  <div class="">
    <div>
      <h1>Jenn's First Rails Project</h1>
    </div>
    <p>Hello, <%= @name %> my name is Jennifer. I work at a startup called Wefunder. This is my first Rails Project.</p>
  </div>
  <h2>Financial Statements Date Calculator</h2>
    <p>This is my financial statements dates calculator. We can use this to figure out what dates a company needs financial statements for and when they will need new financial statements. </p>
    <p>Please complete the following form:</p>



<%= form_tag @calctool do %>
  <p>
    <%= label(:fiscalyear, "Fiscal Year End") %><br>
    <%= text_field_tag :fiscalyear,'MM/DD', onfocus: "if (this.value=='MM/DD') this.value='';", onblur: "if (this.value=='') this.value='MM/DD';" %>
  </p>
 
  <p>
    <%= label(:text, "Company Name") %><br>
    <%= text_field_tag :text %>
  </p>
 
  <p>
    <%= submit_tag (value = "Submit Information") %>
  </p>
<% end %>


</body>
</html>
